.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 10vh;
}
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button {
    align-self: center;
    width: 15em;
    margin-top: 3em;
    padding: 1.5em;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.RollDice button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}